<div class="container-fluid">
    <h2>Create a free account</h2>
    <h6>{{email.valid}}</h6>
    <br>
    <hr>
    <hr>
    {{scrumUserModel |json}}
    <form #userSignUpForm="ngForm" action="" method="POST">

        <div class="form-group row">
            <label class="col-1 col-form-label">Email</label>
            <input required type="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [class.is-invalid]="email.invalid&& email.touched" #email='ngModel'
                class=" col-7 form-control border rounded" name="email" id="email" [(ngModel)]=scrumUserModel.email>
            <div *ngIf="email.errors && (email.invalid && email.touched)">
                <small *ngIf="email.errors.required" class="text-danger">Email is required</small>
                <small *ngIf="email.errors.pattern" class="text-danger">Your email is invalid</small>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-1 col-form-label">Full name</label>
            <input class="col-7 form-control border rounded" [class.is-invalid]="name.invalid && name.touched"
                #name="ngModel" type="text" name="text" id="text" [(ngModel)]=scrumUserModel.fullname>
        </div>
        <div class="form-group row">
            <label class="col-1 col-form-label">Password</label>
            <input required class=" col-7 form-control border rounded" type="password" pattern="^.{7,16}$"
                #password='ngModel' [class.is-invalid]="password.invalid && password.touched" name="password"
                id="password" [(ngModel)]=scrumUserModel.password>
            <div *ngIf="password.errors && (password.invalid && password.touched)">
                <small class="text-danger" *ngIf="password.errors.required">Password is required</small>
                <small class="text-danger" *ngIf="password.errors.pattern">Password mustbe 8-15 characters long</small>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-1 col-form-label">User Type</label>
            <select class="col-7 form-control border rounded custom-select"
                [class.is-invalid]="options.invalid && options.touched" #options="ngModel" name="userType"
                [(ngModel)]=scrumUserModel.type>
                <option value=""></option>
                <option *ngFor="let type of userTypes">{{type}}</option>
            </select>
        </div>

        <button class="col-2 btn btn-primary" ngModel>Create User</button>
    </form>
</div>